*, ::before,::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


.dropdown {
    max-width: 300px;
    height: 63px;
    border-radius: 5px;
    margin: 100px auto;
    color: #f1f1f1;
    background: rgb(103, 75, 224);
    transition: height 0.4s ease-in-out;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.bloc-top {
    padding: 20px;
    display: block;
    width: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(103, 75, 224);
    color: #f1f1f1;
    cursor: pointer;
    border-radius:  5px;
}
.bloc-top img {
    width: 20px
}



.bloc-links {
    padding: 0 22px;
}

.bloc-links li {
    list-style-type: none;
    padding: 5px 0;
}

.bloc-links li a {
    font-size: 18px;
    color: #f1f1f1;
    margin-left: 5px;
}
.bloc-links li:last-child{
    padding-bottom: 25px;
}